
#body{

display: flex;
background-color:#eef2f8;
justify-content: center;
align-items: center;
text-align: center;
padding: 100px;

}




#formEndereco{
    
border-radius: 10px;
width: 280px;    
padding: 100px;
background-color: #f8f9fc;


}


#cep{

    width:250px ;
padding:10px ;
border-radius: 10px;


}


#rua{


    width:250px ;
padding:10px ;
border-radius: 10px;
    
}

#numero{

    width:250px ;
padding:10px ;
border-radius: 10px;

    
}

#complemento{


    width:250px ;
padding:10px ;
border-radius: 10px;
    
}

#bairro{

    width:250px ;
padding:10px ;
border-radius: 10px;

    
}

#cidade{


    width:250px ;
padding:10px ;
border-radius: 10px;
    
}

#estado{


    width:250px ;
padding:10px ;
border-radius: 10px;
    
}

#submit{

    width:250px ;
padding:10px ;
border-radius: 10px;

    
}













